# yaml-language-server: $schema=https://aka.ms/winget-manifest.defaultLocale.1.6.0.schema.json
PackageIdentifier: adamtheturtle.doccmd
PackageVersion: 0.0.0
PackageLocale: en-US
Publisher: Adam Dangoor
PublisherUrl: https://github.com/adamtheturtle
PublisherSupportUrl: https://github.com/adamtheturtle/doccmd/issues
Author: Adam Dangoor
PackageName: doccmd
PackageUrl: https://github.com/adamtheturtle/doccmd
License: MIT
LicenseUrl: https://github.com/adamtheturtle/doccmd/blob/main/LICENSE
Copyright: Copyright (c) Adam Dangoor
ShortDescription: Run tools against code blocks in documentation
Description: A command line tool for running commands against code blocks in documentation files. This allows you to run linters, formatters, and other tools against the code blocks in your documentation files.
Moniker: doccmd
Tags:
  - cli
  - documentation
  - linter
  - markdown
  - python
  - restructuredtext
ReleaseNotesUrl: https://github.com/adamtheturtle/doccmd/releases/tag/0.0.0
ManifestType: defaultLocale
ManifestVersion: 1.6.0
