---
name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    # * is a special character in YAML so you have to quote this string
    # Run at 1:00 every day
    - cron: 0 1 * * *

permissions: {}

jobs:
  build:
    strategy:
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13']
        platform: [ubuntu-latest, windows-latest]

    runs-on: ${{ matrix.platform }}

    steps:
      - uses: actions/checkout@v6
        # We need our tags in order to calculate the version
        # in the Sphinx setup.
        with:
          persist-credentials: false
          fetch-depth: 0
          fetch-tags: true

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true
          cache-dependency-glob: '**/pyproject.toml'

      - name: Check uv.lock is up to date
        run: uv lock --check
        env:
          UV_PYTHON: ${{ matrix.python-version }}

      - name: Lint
        run: |
          uv run --extra=dev prek run --all-files --hook-stage pre-commit --verbose
          uv run --extra=dev prek run --all-files --hook-stage pre-push --verbose
          uv run --extra=dev prek run --all-files --hook-stage manual --verbose
        env:
          UV_PYTHON: ${{ matrix.python-version }}

      - name: Run tests
        run: |
          # We run tests against "." and not the tests directory as we test the README
          # and documentation.
          uv run --extra=dev pytest -s -vvv --cov-fail-under=100 --cov=src/ --cov=tests .
        env:
          UV_PYTHON: ${{ matrix.python-version }}

      - uses: pre-commit-ci/lite-action@v1.1.0
        # Do not run pre-commit on Windows in order to avoid issues with
        # line endings.
        # We only need to run the changes from one runner in any case.
        if: always()

  completion-ci:
    needs: build
    runs-on: ubuntu-latest
    if: always()  # Run even if one matrix job fails
    steps:
      - name: Check matrix job status
        run: |-
          if ! ${{ needs.build.result == 'success' }}; then
            echo "One or more matrix jobs failed"
            exit 1
          fi
