---
name: Winget

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    # Run at 1:00 every day
    - cron: 0 1 * * *

permissions: {}

jobs:
  validate:
    name: Validate winget manifest
    runs-on: windows-latest

    steps:
      - uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: Install winget-create
        run: |
          Invoke-WebRequest -Uri https://aka.ms/wingetcreate/latest -OutFile wingetcreate.exe

      - name: Validate manifest
        run: |
          .\wingetcreate.exe validate winget/manifests/a/adamtheturtle/doccmd/0.0.0
